@media only screen and (min-width:200px){

    .realeased{
        /* border: 2px solid green; */
        margin-top: 1.5rem;
        max-width: 100vw;
        padding-left: 1rem;
       
       
     }

    .released-Prev,.released-Next{
        color: #F9F9F9;
        visibility: hidden;
        
    }
}

@media only screen and (min-width:300px){

 .realeased{

        padding-right: 0rem;
       
     }
   
}

@media only screen and (min-width:600px){

  

    .realeased{

        padding-left: 3rem;
       
    }

}

@media only screen and (min-width:900px){

  

    .realeased{

        padding-left: 5rem;
       
    }

    .released-Prev,.released-Next{
        visibility: visible;
        
    }


}