*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
html{
    font-size: 62.5%;
}

.linearGradient{
    background-image: linear-gradient(0deg,#1e1e1e,rgba(30, 30, 30,0));
    height: 30%;
    width: 100%;
    position: absolute;
   bottom: 0;
    z-index: 1;
}

.button-bg{
    height: 4rem;
    width: 4rem;
    background-color: #4b4b4b;
    position: absolute;
    z-index: -9;
    border-radius: 50%;

}

.gradient{
    width: 100%;
    height: 100%;
    /* border: 2px solid gold; */
    position: absolute;
    background-image: linear-gradient(
        rgb(30, 30, 30,1) ,
        rgba(30, 30, 30,0) ,
        rgba(30, 30, 30, 1) 
    );
    

}

